* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
